/* Achievements.scss */
.achievements_box {
  width: 100%;
  min-height: 670px;
  max-height: 1880px;
  background: rgba(235, 235, 235, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.searchpage.achievements_box {
  width: 950px;
  height: 100%;
  background-color: transparent;
}
.achievements_content {
  width: 100%;
  min-height: 510px;
  max-height: 1700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.achievements_item {
  width: 920px;
  height: 150px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.achievements_item > * {
  margin: 11px 22px;
}
.searchpage.achievements_box .achievements_item:nth-child(1) {
  margin-top: 20px;
}
.item__above {
  width: 876px;
  margin: 0 22px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item__above #title {
  height: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(85, 85, 85, 1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.item__above #title span:nth-child(1) {
  margin-right: 5px;
}
.item__above #title span:nth-child(2) {
  width: 550px;
  display: inline-block;
  color: rgba(0, 115, 152, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__btns_area {
  width: 200px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.item__btns_area button {
  width: 25px;
  height: 25px;
  margin: 0 2px;
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__btns_area button .svg-icon {
  cursor: pointer;
  fill: #707070 !important;
}
.item__btns_area button .svg-icon:hover {
  transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}
.item__btns_area button:nth-child(2) .svg-icon {
  margin-top: 2px;
}
.item__btns_area button:nth-child(3) .svg-icon {
  width: 20px !important;
  height: 20px !important;
}
.item__btns_area button:nth-child(1) .svg-icon:hover {
  fill: #ebca13 !important;
}
.item__btns_area button:nth-child(2) .svg-icon:hover {
  fill: #b30505 !important;
}
.item__btns_area button:nth-child(3) .svg-icon:hover {
  fill: #61bb0d !important;
}
.achievements_item .btns_area button {
  height: 20px;
}
#author {
  height: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(150, 150, 150, 1);
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#author span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#author span:nth-child(1) {
  max-width: 350px;
}
#author span:nth-child(2) {
  max-width: 250px;
}
#summary {
  display: flex;
  flex-direction: column;
}
#summary button {
  width: 40px;
  height: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: rgba(0, 115, 152, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
#summary p {
  width: 876px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  color: rgba(85, 85, 85, 1);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
