/* Gate.scss */
.gatepage.main_content {
  width: 100%;
  height: 1300px;
}
.scholar_info_box {
  width: 100%;
  height: 315px;
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scholar_avatar {
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scholar_avatar img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.gatepage.scholar_info {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.gatepage.scholar_info .svg-icon--verify {
  width: 15px !important;
  height: 15px !important;
  position: absolute;
  color: #ecd712;
}
.gatepage.scholar_info span {
  width: 400px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgba(85, 85, 85, 1);
}
.gatepage.scholar_info #name {
  width: 200px;
  height: 34px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 2px;
}
.gatepage.scholar_info #institution {
  margin-bottom: 10px;
  color: rgba(150, 150, 150, 1);
}
.gatepage.scholar_info #subject {
  font-size: 15px;
}
.scholar_btns_area {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.scholar_btns_area button {
  width: 150px;
  height: 40px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(85, 85, 85, 1);
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: rgba(85, 85, 85, 1);
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
}
.research_info {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.achievements {
  width: 1000px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.statisticbar {
  justify-content: space-evenly;
}
.achievements:nth-child(2) {
  height: 180px;
  margin-top: 80px;
}
.statistic_circle {
  width: 90px;
  height: 90px;
  border: 10px solid rgba(112, 112, 112, 1);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statistic_table {
  width: 250px;
  height: 90px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 20px 1fr;
  gap: 40px 30px;
}
.statistic_table span {
  width: 100px;
  height: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #555555;
}
.statistic_table span:nth-child(1),
.statistic_table span:nth-child(2) {
  color: rgba(150, 150, 150, 1);
}
#filter_bar {
  width: 1200px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filter_bar__item {
  width: 241px;
  height: 50px;
}
.filter_bar__item li {
  width: 120px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  float: left;
  list-style: none;
}
.filter_bar__item li span {
  width: 80px;
  height: 19px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: rgba(85, 85, 85, 1);
}
#cutline {
  width: 0px;
  height: 30px;
  border: 1px solid rgba(112, 112, 112, 1);
}
.collaboration_content {
  width: 120px;
  height: 130px;
  box-shadow: 0 2px 5px 0 rgba(165, 165, 165, 0.7);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.collaboration_content p {
  width: 100%;
  font-size: 13px;
  color: #808080;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.collaboration_content #name {
  width: 100%;
  margin: 5px 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #505050;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#collaboration_cutline {
  width: 100%;
  height: 1px;
  margin: 7px 0;
  background-color: #dbdbdb;
}
