/* home.css */
.img_box {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.img_box,
.msg_background {
  background: url(../img/home_back.jpg) center;
}
.img__main_box {
  width: 700px;
  height: 450px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.upper_slogen {
  height: 29px;
  font-size: 18px;
  font-family: MV Boli;
  font-weight: 400;
  line-height: 29px;
  color: rgba(255, 255, 255, 1);
}
.lower_slogen {
  height: 40px;
  font-size: 30px;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
}
.searchdiv {
  height: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchbar {
  width: 700px;
  height: 50px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.search_text {
  width: 610px;
  height: 46px;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 46px;
  border: none;
  outline: none;
}
.search_btn {
  width: 44px;
  height: 44px;
  margin: 3px;
  background: rgba(150, 75, 180, 1);
}
.search_btn button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  line-height: 100%;
  outline: none;
  user-select: none;
  cursor: pointer;
}
.svg-icon--search {
  width: 27px !important;
  height: 27px !important;
  fill: white !important;
}
.img__msg_box {
  width: 100%;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img__msg_box #title {
  width: 100px;
  height: 14px;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  color: rgba(226, 226, 226, 1);
  letter-spacing: 5px;
  user-select: none;
}
.img__msg_box #statistic {
  width: 120px;
  height: 40px;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.img__msg_box #statistic #high,
.img__msg_box #statistic #low {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  user-select: none;

  -webkit-transform: scaleX(1.25);
  transform: scaleX(1.25);
}
.img__msg_box #statistic #high {
  font-size: 34px;
  letter-spacing: 3px;
  font-family: Agency FB;
  font-weight: bold;
}
.img__msg_box #statistic #low {
  height: 38px;
  line-height: 38px;
  letter-spacing: 2px;
  font-family: Agency FB;
  font-weight: lighter;
}
#advanced_search {
  width: 84px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
#cutline1 {
  width: 1px;
  height: 50px;
  margin: 0 15px;
  background: rgba(255, 255, 255, 1);
}
#cutline2 {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 1);
}

/* home.css */
.container {
  width: 100%;
  height: 1480px;
  background: rgba(0, 0, 0, 0);
}
.homepage.main_content {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.left_box,
.right_box {
  width: 600px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left_box__content,
.rigth_box__content {
  width: 600px;
  height: 400px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.box_info {
  width: 550px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.homepage.main_content #title {
  width: 100px;
  height: 29px;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  color: rgba(85, 85, 85, 1);
}
.left_box .box_info #degree {
  width: 120px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(150, 150, 150, 1);
}
.left_box__item {
  width: 550px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left_box__item span {
  height: 23px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(85, 85, 85, 1);
}
.left_box__item span:nth-child(1) {
  width: 50px;
}
.left_box__item span:nth-child(2) {
  width: 380px;
}
.left_box__item span:nth-child(3) {
  width: 120px;
  text-align: center;
}
.right_box__inner {
  width: 550px;
  height: 180px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.right_box .inner_header {
  width: 550px;
  height: 40px;
  background: rgba(245, 245, 245, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right_box #inner_title {
  padding-left: 15px;
  font-size: 18px;
  color: rgba(85, 85, 85, 1);
}
.more_btn {
  width: 0;
  height: 0;
  margin: 2px 2px;
  position: relative;
  border: none;
  border-right: 35px solid rgba(150, 75, 180, 1);
  border-bottom: 35px solid rgba(245, 245, 245, 1);
  outline: none;
  cursor: pointer;
}
.svg-icon--more {
  width: 21px !important;
  height: 21px !important;
  fill: rgba(255, 255, 255, 1) !important;
  position: absolute;
  top: -1px;
  left: 13px;
}
.inner_content {
  width: 550px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.inner_item {
  width: 530px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.inner_item span {
  width: 480px;
  height: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(85, 85, 85, 1);
}
#cutline3 {
  width: 2px;
  height: 400px;
  background-color: rgba(85, 85, 85, 1);
}
#linesign {
  width: 5px;
  height: 5px;
  margin-right: 6px;
  background: rgba(164, 129, 246, 1);
  border-radius: 50%;
}
